@keyframes slideUpDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-15px);
  }
}
.slide-up-down {
  animation: 0.75s ease-in-out 0s infinite alternate none running slideUpDown !important;
}

.btn-app-store {
  background: black;
  color: white;
  position: relative;
  height: 60px;
  padding-left: 55px;
  padding-right: 20px;
}
.btn-app-store:hover {
  color: white;
  box-shadow: 0 0 10px #343a40;
}

.btn-app-store i {
  font-size: 40px;
  position: absolute;
  left: 10px;
}

.btn-app-store .small {
  display: block;
  font-size: 12px;
  line-height: 12px;
  margin-bottom: 2px;
  margin-top: 5px;
}

.btn-app-store .big {
  display: block;
  text-align: left;
  font-size: 21px;
  line-height: 21px;
}

.modal-full {
  min-width: 80%;
  margin: auto;
}

.modal-content {
  border-radius: 0;
  border: none;
}

.copertina {
  position: relative;
  width: 100%;
}

.copertina .btn {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 16px;
  font-weight: 600;
  padding: 12px 24px;
  cursor: pointer;
  text-align: center;
}

.btn-outline-dark {
  background-color: white;
}

.arrow {
  text-decoration: none;
  color: #adb5bd;
}
.arrow > i {
  position: relative;
  bottom: -6px;
  font-size: 3rem;
  animation: 0.75s ease-in-out 0s infinite alternate none running slideUpDown !important;
}
.arrow > i:hover {
  color: #212529;
}

.arrow-right {
  padding-top: 2px;
  padding-right: 2px;
}
.arrow-right > i {
  position: relative;
  bottom: -7px;
}

.arrow-down {
  padding-top: 2px;
  padding-right: 2px;
  cursor: pointer;
}
.arrow-down > i {
  position: relative;
  bottom: -7px;
}

a {
  color: black;
}
a:hover {
  color: #868e96;
  text-decoration: none;
}
a:focus {
  outline: none;
}

.hidden {
  display: none;
}

.masthead {
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background: #fff;
  background-size: cover;
}
.masthead h1 {
  font-size: 5rem;
  font-weight: lighter;
  margin: 0;
  padding: 0;
}
.masthead h6 {
  color: #868e96;
  font-size: 1.1rem;
}

.pocket {
  height: 150px;
  background-color: #fff;
  position: relative;
  z-index: 10;
}

.line {
  border-right: 1px solid #e9ecef;
}

@keyframes slideInFromLeft {
  0% {
    -webkit-transform: translateX(-45%);
    -moz-transform: translateX(-45%);
    -ms-transform: translateX(-45%);
    -o-transform: translateX(-45%);
    transform: translateX(-45%);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes magic {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.pull {
  -webkit-animation: 1.5s ease-out 1s 1 slideInFromLeft;
  -moz-animation: 1.5s ease-out 1s 1 slideInFromLeft;
  -ms-animation: 1.5s ease-out 1s 1 slideInFromLeft;
  -o-animation: 1.5s ease-out 1s 1 slideInFromLeft;
  animation: 1.5s ease-out 1s 1 slideInFromLeft;
  z-index: -1;
}

.magic {
  -webkit-animation: 2s ease-out 2s 1 magic;
  -moz-animation: 2s ease-out 2s 1 magic;
  -ms-animation: 2s ease-out 2s 1 magic;
  -o-animation: 2s ease-out 2s 1 magic;
  animation: 2s ease-out 2s 1 magic;
  z-index: 1;
}

.opacity0 {
  opacity: 0;
}

.alignment {
  height: 150px;
}

@media screen and (max-width: 768px) {
  .masthead h1 {
    font-size: 3rem;
  }
  .masthead h6 {
    font-size: 0.8rem;
  }

  .pocket {
    height: 100px;
  }
}
.title {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: normal;
}

.text {
  font-size: 1.7rem;
  line-height: normal;
}

.video {
  height: 80%;
  width: 80%;
}

.small-top {
  margin-top: 7rem;
}

@media (max-width: 992px) {
  .title {
    font-size: 1.7rem !important;
    font-weight: bolder;
  }

  .text {
    font-size: 1.3rem;
    font-weight: 500;
  }
}
@media (max-width: 768px) {
  .title {
    font-size: 1.3rem !important;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }

  .text {
    font-size: 1rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }
}
/* Side Menu */
#sidebar-wrapper {
  position: fixed;
  z-index: 100;
  right: 0;
  width: 200px;
  height: 100%;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  transform: translateX(200px);
  background: rgba(255, 255, 255, 0.95);
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 200px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li.sidebar-nav-item a {
  display: block;
  text-decoration: none;
  color: #868e96;
  font-weight: bold;
  font-size: 1.3rem;
  padding: 15px;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #212529;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

#sidebar-wrapper.active {
  right: 200px;
  width: 200px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.menu-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #fff;
  background: rgba(52, 58, 64, 0.5);
  line-height: 50px;
  z-index: 999;
}
.menu-toggle:focus, .menu-toggle:hover {
  color: #fff;
}
.menu-toggle:hover {
  background: #343a40;
}

.service-icon {
  background-color: #fff;
  color: #343a40;
  height: 7rem;
  width: 7rem;
  display: block;
  box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.1);
}

.logo {
  height: 120px;
}

.description {
  line-height: inherit;
  font-size: 1.25rem;
}

@media (max-width: 768px) {
  .service-icon {
    height: 5rem;
    width: 5rem;
  }

  .description {
    line-height: inherit;
    font-size: 1rem;
  }

  .logo {
    height: 100px;
  }
}
@font-face {
  font-family: 'SF-Pro-Display-Light';
  src: url("../fonts/SF Pro/SF-Pro-Display-Light.otf");
  speak: none;
  font-style: normal;
  font-weight: lighter;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
@font-face {
  font-family: 'SF-Pro-Display-Regular';
  src: url("../fonts/SF Pro/SF-Pro-Display-Regular.otf");
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
@font-face {
  font-family: 'SF-Pro-Display-Bold';
  src: url("../fonts/SF Pro/SF-Pro-Display-Bold.otf");
  speak: none;
  font-style: normal;
  font-weight: bold;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
@font-face {
  font-family: 'SF-Pro-Display-Thin';
  src: url("../fonts/SF Pro/SF-Pro-Display-Thin.otf");
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
body,
html {
  width: 100%;
  height: 100%;
  text-rendering: optimizeLegibility;
}

body {
  font-family: 'SF-Pro-Display-Light';
  font-family: 'SF-Pro-Display-Regular';
  font-family: 'SF-Pro-Display-Bold';
  font-family: 'SF-Pro-Display-Thin';
  font-family: 'SF-Pro-Display-Thin';
}

section {
  background: linear-gradient(180deg, #fafafa, #fff 50px);
}

a:hover {
  cursor: pointer;
}

.btn-xl {
  padding: 1.25rem 2.5rem;
}

.content-section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.content-section-heading h2 {
  font-size: 3rem;
}
.content-section-heading h3 {
  font-size: 1rem;
  text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

/* Map */
.map {
  height: 30rem;
}

@media (max-width: 992px) {
  .map {
    height: 75%;
  }
}
.map iframe {
  pointer-events: none;
}

.scroll-to-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  display: none;
  width: 50px;
  height: 50px;
  text-align: center;
  color: white;
  background: rgba(52, 58, 64, 0.5);
  line-height: 45px;
}
.scroll-to-top:focus, .scroll-to-top:hover {
  color: white;
}
.scroll-to-top:hover {
  background: #343a40;
}
.scroll-to-top i {
  font-weight: 800;
}

/*# sourceMappingURL=main.css.map */
