@font-face {
  font-family: 'SF Pro Display';
  src: url('../fonts/SF Pro/SF-Pro-Display-Medium.otf');
}

*, *::before, *::after {
  font-family: 'SF Pro Display';
}

html, body {
  height: 100%;
}

*:focus, *:active {
  outline: none !important;
}
