// Font Mixins
@mixin body-font {
  font-family: 'SF-Pro-Display';
}

@font-face {
  font-family: 'SF-Pro-Display';
  src: url('../fonts/SF Pro/SF-Pro-Display-Thin.otf');
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
