// Font Mixins
@mixin body-font {
  font-family: 'SF-Pro-Display-Light';
  font-family: 'SF-Pro-Display-Regular';
  font-family: 'SF-Pro-Display-Bold';
  font-family: 'SF-Pro-Display-Thin';
}




@font-face {
  font-family: 'SF-Pro-Display-Light';
  src: url('../fonts/SF Pro/SF-Pro-Display-Light.otf') ;

  speak: none;
  font-style: normal;
  font-weight: lighter;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'SF-Pro-Display-Regular';
  src: url('../fonts/SF Pro/SF-Pro-Display-Regular.otf') ;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'SF-Pro-Display-Bold';
  src: url('../fonts/SF Pro/SF-Pro-Display-Bold.otf') ;
  speak: none;
  font-style: normal;
  font-weight: bold;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'SF-Pro-Display-Thin';
  src: url('../fonts/SF Pro/SF-Pro-Display-Thin.otf');
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
