.modal-full {
    min-width: 80%;
    margin: auto;
}

.modal-content{
  border-radius: 0;
  border: none;
}



.copertina {
    position: relative;
    width: 100%;
}


.copertina .btn {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 16px;
  font-weight: 600;
  padding: 12px 24px;
  cursor: pointer;
  text-align: center;
}

.btn-outline-dark{
  background-color: white;
}
