.modal-full {
    min-width: 90%;
    margin: auto;
}

.copertina {
    position: relative;
    width: 100%;
}


.copertina .btn {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    text-align: center;
}

.copertina .btn:hover {
    background-color: black;
}
