
.title{
  font-size: 2.5rem;
  font-weight: bold;
  line-height: normal;

}

.text{
  font-size: 1.7rem;
  line-height: normal;
}

.video{
  height: 80%;
  width: 80%;
}

.small-top{
  margin-top: 7rem;
}


@media(max-width: 992px) {
  .title{
    font-size: 1.7rem !important;
    font-weight: bolder ;
  }

  .text{
    font-size: 1.3rem;
    font-weight: 500;
  }


}

@media(max-width: 768px) {
  .title{
    font-size: 1.3rem !important;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }

  .text{
    font-size: 1rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }
}
