.masthead {
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background: $white;
  background-size: cover;
  h1 {
    font-size: 5rem;
    font-weight: lighter;
    margin: 0;
    padding: 0;
  }
  h6{
    color: $gray-600;
    font-size: 1.1rem
  }

}

.pocket {
  height: 150px;
  background-color: #fff;
  position: relative;
  z-index: 10;

}

.line{
  border-right: 1px solid $gray-200;
}

@keyframes slideInFromLeft {
  0% {
    -webkit-transform: translateX(-45%);
    -moz-transform: translateX(-45%);
    -ms-transform: translateX(-45%);
    -o-transform: translateX(-45%);
    transform: translateX(-45%);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes magic {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.pull {
  -webkit-animation: 1.5s ease-out 1.5s 1 slideInFromLeft;
  -moz-animation: 1.5s ease-out 1.5s 1 slideInFromLeft;
  -ms-animation: 1.5s ease-out 1.5s 1 slideInFromLeft;
  -o-animation: 1.5s ease-out 1.5s 1 slideInFromLeft;
  animation: 1.5s ease-out 1.5s 1 slideInFromLeft;
  z-index: -1;
}

.magic{
  -webkit-animation: 2s ease-out 3s 1 magic;
  -moz-animation: 2s ease-out 3s 1 magic;
  -ms-animation: 2s ease-out 3s 1 magic;
  -o-animation: 2s ease-out 3s 1 magic;
  animation: 2s ease-out 3s 1 magic;
  z-index: 1;
}

.opacity0{
  opacity: 0;
}

.alignment{
  height: 150px;
}


@media screen and (max-width: 768px) {
  .masthead {
    h1 {
      font-size: 3rem;
    }
    h6{
      font-size: .8rem
    }

  }


  .pocket {
    height: 100px;
  }


}
